.Mv {
  width: 100%;
  height: 100vh;
  background: url(../../../assets/img/home/mv/mv.webp) no-repeat right -70vw center / cover;
  position: fixed;
  inset: 0 auto auto 0;
  padding: 0 20px;
  z-index: -1;
  filter: blur(0px) brightness(1) grayscale(0);
  @include res {
    background-position: center;
    padding: 0 clamp(20px, 3.56vw + 6.65px, 60px);
  }
  .mvInner {
    width: 100%;
    width: min(100%, 1368px);
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: clamp(65.83px, 0.67vw + 63.317px, 73.38px) 0 10vh;
    @include res {
      align-items: flex-end;
    }
    @include res($bp: 1699px) {
      width: min(90%, 1536px);
    }
    .siteTitle {
      color: $font-c-bright;
      line-height: 1.7;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-shadow: #000000c2 0 0 10px;
      .catchCopy {
        width: min(100%, 720px);
      }

      .shopName {
        font-size: clamp(92px, 2.49vw + 82.662px, 120px);
        line-height: 1;
        & > span {
          &:first-of-type {
            display: block;
            @include res {
              font-size: 0.7em;
            }
          }
          &:nth-of-type(2) {
            display: block;
            @include res {
              display: inline-block;
              margin-right: 0.2em;
            }
          }
        }
        @include res {
          font-size: clamp(120px, 14.29vw + -94.35px, 180px);
          br {
            &.spBr {
              display: none;
            }
          }
        }
      }
      .shopNameJp {
        line-height: 1;
        display: block;
        display: flex;
        align-items: center;
        gap: clamp(10px, 0.53vw + 8.012px, 16px);
        font-size: clamp(18px, 0.53vw + 16.012px, 24px);
        &:after {
          content: "";
          display: block;
          flex: 1;
          height: 1px;
          background-color: $font-c-bright;
        }
      }
    }
  }
}
