.menuListContainer {
  color: $font-c-bright;
  margin: 80px auto 0;
  h3 {
    font-size: 38px;
    margin-bottom: 30px;
    font-weight: normal;
  }
  .menuList {
    display: flex;
    flex-direction: column;
    gap: 40px;
    &Item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $font-c-bright;
      &Key {
        display: flex;
        flex-direction: column;
        font-size: 21px;
        font-weight: bold;
        font-size: clamp(15px, 0.09vw + 14.662px, 16px);
      }
      &Value {
        font-weight: bold;
        font-size: clamp(21px, 0.27vw + 19.988px, 24px);
      }
    }
  }
}
