.article {
  a {
    transition: all 0.3s;
    &:hover {
      opacity: 0.6;
    }
    .thumbnail {
      width: 100%;
      aspect-ratio: 16/9;
      background-color: #ccc;
      margin-bottom: 20px;
    }
    .articleDesc {
      h3 {
        font-size: clamp(16px, 0.18vw + 15.325px, 18px);
        color: $font-c-bright;
      }
    }
  }
}
