.about {
  .intro {
    overflow-x: clip;
    position: relative;
    isolation: isolate;
    padding-top: 30px;
    margin-bottom: clamp(120px, 65.48vw + -382.232px, 600px);
    @include res {
      padding-top: 0;
    }

    &::after {
      content: "";
      display: block;
      width: 65vw;
      height: 99%;
      position: absolute;
      inset: 0 0 auto auto;
      background-color: $base-c-bright;
      z-index: -1;
      @include res {
        inset: clamp(30px, 7.37vw + -26.528px, 84px) 0 auto auto;
      }
    }
    .introInner {
      display: flex;
      margin-bottom: clamp(71px, 24.98vw + -22.675px, 352px);

      @include res {
        flex-direction: row;
        align-items: center;
      }
    }
    &__text {
      color: $font-c-bright;
      @include res {
        width: 54%;
      }

      h2 {
        font-size: clamp(48px, 4.27vw + 31.988px, 96px);
        margin-bottom: 40px;
        font-weight: normal;
        text-wrap: nowrap;
        @include res {
          margin-bottom: 20px;
        }
      }
      .catchCopy {
        font-size: clamp(24px, 1.07vw + 19.988px, 36px);
        font-weight: bold;
        text-wrap: nowrap;
        margin-bottom: 20px;
        br {
          @include res {
            display: none;
          }
        }
        & + p {
          text-align: justify;
        }
      }
    }
    &__img {
      @include res {
        max-width: 600px;
        position: relative;
      }
      .intro01 {
        display: none;
        @include res {
          display: block;
          width: min(64%, 385px);
          margin-left: auto;
          transform: translate(6vw, 0);
        }
      }
      .intro02 {
        display: none;
        @include res {
          display: block;
          width: min(74%, 447px);
          position: absolute;
          inset: auto 0 0 auto;
          transform: translate(-50%, 70%);
        }
      }
    }
    .floatingImg {
      display: flex;
      flex-direction: column;
      gap: 40px 0;
      @include res {
        flex-direction: row;
        justify-content: space-between;
      }
      .floating01 {
        width: clamp(225px, 12vw + 180px, 360px);
        @include res {
        }
      }
      .floating02 {
        width: clamp(225px, 12vw + 180px, 360px);
        margin: 0 auto;
        @include res {
          margin: 0;
          transform: translate(0, 72%);
        }
      }
      .floating03 {
        width: clamp(225px, 12vw + 180px, 360px);
        margin-left: auto;
        @include res {
          margin: 0;
          transform: translate(0, calc(72% * 2));
        }
      }
    }
  }
  .featureList {
    .featureItem {
      width: 90%;
      margin: 0 auto clamp(60px, 21.83vw + -107.436px, 220px);
      color: $font-c-bright;
      @include res {
        width: min(90vw, 1357px);
        margin: 0 0 clamp(60px, 21.83vw + -107.436px, 220px);
        position: relative;
      }
      .featureImg {
        margin-bottom: 20px;
        @include res {
          margin-bottom: 0;
          width: 77%;
        }
      }
      .featureText {
        width: 100%;
        @include res {
          width: 40%;
          position: absolute;
          inset: auto 0 0 auto;
          transform: translate(0, 30%);
        }
        h3 {
          font-size: clamp(25px, 1.16vw + 20.65px, 38px);
          line-height: 1.5;
          margin-bottom: 40px;
          white-space: pre-wrap;
          text-shadow: #0000005b 0 3px 6px;
          @include res {
            margin-bottom: 20px;
          }
        }
        p {
          text-align: justify;
          white-space: pre-wrap;
          text-shadow: #0000005b 0 3px 6px;

          &:not(:last-child) {
            margin-bottom: 20px;
          }
        }
      }
      &:nth-child(2) {
        @include res {
          margin-left: auto;
        }
        .featureText {
          @include res {
            width: 45%;
            inset: auto auto 0 0;
            transform: translate(0, 30%);
          }
        }
        .featureImg {
          @include res {
            margin-left: auto;
          }
        }
      }
    }
  }
  .message {
    width: 100%;
    height: 300vh;
    .messageContainer {
      width: 100%;
      background: url(../../../assets/img/home/about/message-bg.webp) no-repeat center / cover;
      padding: 60px 0;
      position: sticky;
      top: 0;
      display: grid;
      place-items: center;
      @include res {
        height: 100vh;
      }
      .messageContent {
        opacity: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px 0;
        background-color: rgba(255, 255, 255, 0.85);
        padding: 20px;
        @include res {
          flex-direction: row;
          padding: 60px 120px;
          justify-content: space-between;
        }
        .messageText {
          @include res {
            width: 55%;
          }
          h3 {
            font-size: clamp(24px, 0.71vw + 21.337px, 32px);
            margin-bottom: 20px;
          }
          p {
            font-weight: bold;
            text-align: justify;
            &:not(:last-child) {
              margin-bottom: 1em;
            }
            &.masterName {
              text-align: right;
            }
          }
        }
        .shopMaster {
          @include res {
            width: 33%;
          }
        }
      }
    }
  }
}
