.pageSectionTitle {
  color: $font-c-bright;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .enTitle {
    font-size: clamp(46px, 0.53vw + 44.013px, 52px);
  }
  .jpTitle {
    font-size: 0.7em;
  }
}
