.access {
  padding: clamp(80px, 7.11vw + 53.338px, 160px) 0 0;
  background-color: $base-color;
  .map {
    width: 100%;
    height: 400px;
    filter: saturate(0);
    transition: all 0.5s;
    &:hover {
      filter: saturate(1);
    }
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  .info {
    width: 100%;
    // background: url(../../../assets/img/home/access/info-bg.webp) no-repeat center / cover;
    background-color: $font-color;
    padding: clamp(50px, 4.44vw + 33.35px, 100px) 0 clamp(80px, 8.89vw + 46.662px, 180px);
    .infoCta {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px 0;
      margin-bottom: clamp(60px, 5.33vw + 40.013px, 120px);
      @include res {
        flex-direction: row;
        justify-content: space-between;
      }
      .infoLogo {
        width: min(100%, 300px);
        @include res {
          width: min(40%, 280px);
        }
        @include res($bp: 1199px) {
          width: min(40%, 380px);
        }
        @include res($bp: 1599px) {
          width: min(40%, 480px);
        }
      }
      .infoTel {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $font-c-bright;
        font-size: clamp(24px, 0.71vw + 21.337px, 32px);
        line-height: 1;
        & > span {
          display: block;
          width: 30px;
        }
      }
      .infoCtaItems {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .infoCtaBtn {
          width: 240px;
          height: 48px;
          display: grid;
          place-items: center;
          color: $font-c-bright;
          border: 1px solid $font-c-bright;
          transition: all 0.3s;
          font-weight: bold;
          &:hover {
            background-color: $font-c-bright;
            color: $base-c-bright;
          }
        }
      }
      .snsContainer {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        .snsIcon {
          width: 60px;
          aspect-ratio: 1;
          transition: all 0.3s;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    .infoContents {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      color: $font-c-bright;
      .infoItem {
        &.shopImg {
          width: 27%;
          aspect-ratio: 0.5;
          background-color: #ccc;
          display: none;
          background: url(../../../assets/img/home/access/shop-overview.webp) no-repeat center / cover;

          @include res {
            display: block;
          }
        }
        &.infoList {
          display: flex;
          flex-direction: column;
          gap: 40px;
          @include res {
            width: 60%;
          }
          .infoListItem {
            display: flex;
            flex-direction: column;
            padding-bottom: 40px;
            border-bottom: 1px solid $font-c-bright;
            gap: 20px 0;
            @include res {
              flex-direction: row;
              align-items: center;
            }
            .infoKey {
              width: min(20%, 140px);
              font-size: 15px;
              color: #ffffffb5;
            }
            .infoValue {
            }
          }
        }
      }
    }
  }
}
